<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">개발문의</h2>
        <h3 class="section-subheading text-muted">당신의 의견을 알려주세요. 좋은의견은 추후 업데이트에 포함시키겠습니다.</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <form name="sentMessage" id="contactForm" novalidate>
          <div class="row">
            <div class="col-md-12">
              <div class="control-group form-group">
                <input type="text" class="form-control" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name." />
                <p class="help-block text-danger"></p>
              </div>
              <!-- <div class="control-group form-group">
                <input type="email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address." />
                <p class="help-block text-danger"></p>
              </div> -->
              <!-- <div class="control-group form-group">
                <input type="tel" class="form-control" placeholder="Your Phone *" id="phone" required data-validation-required-message="Please enter your phone number." />
                <p class="help-block text-danger"></p>
              </div> -->
            </div>
            <div class="col-md-12">
              <div class="control-group form-group">
                <textarea class="form-control" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-lg-12 text-center">
              <div id="success"></div>
              <button type="submit" class="btn btn-xl btn-default">Send Message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
