<!-- About Section -->
<section id="download">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{% t download %}</h2>
        <!-- <h3 class="section-subheading text-muted">Current version (v1.0) : 2019-09-30</h3> -->
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    {% for post in site.posts limit:1 %}
    <div class="row text-center">
      <div class="col-sm-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{% t windows %}</h4>
        <!-- <a href="https://github.com/frombit/kstock/releases/download/v{{post.title}}/kStock-{{post.title}}-win.exe"> -->
        <a href="https://github.com/frombit/kstock/releases/download/v0.2.4/kStock-0.2.4-win.exe">
          <button class="btn btn-primary">{% t download %}</button>
        </a>
        <a href="https://github.com/frombit/kstock-beta/releases/download/v1.0.0-b/kStock-1.0.5-b-win.exe">
          <button class="btn btn-default">베타버젼 0.5</button>
        </a>
      </div>
      <div class="col-sm-6">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{% t mac %}</h4>
        <!-- <a href="https://github.com/frombit/kstock/releases/download/v{{post.title}}/kStock-{{post.title}}.dmg"> -->
        <a href="https://github.com/frombit/kstock/releases/download/v0.2.4/kStock-0.2.4.dmg">
          <button class="btn btn-primary">{% t download %}</button>
        </a>
      </div>
      <!-- <div class="col-sm-4">
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linux fa-stack-1x fa-inverse"></i>
        </span>
        <h4 class="service-heading">{% t linux %}</h4>
        <button class="btn btn-default disabled">{% t download %}</button>
      </div> -->
    </div>
    {% endfor %}
  </div>
</section>
