<!-- Portfolio Grid Section -->
<section id="whatsnew" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">{% t whatsnew %}</h2>
        <h3 class="section-subheading text-muted"></h3>
      </div>
    </div>
    <div class="row text-center" style="height:400px;overflow:scroll">
      <div class="col-md-12">
        {% for post in site.posts %}
        <div>
          <!-- <div class="d-ib w300 text-right">{{ post.title }}</div> -->
          <div class="d-ib w500 text-left" style="width:100%;max-width:400px;">{{ post.content }}</div>
        </div>
        {% endfor %}
        <!-- <div class="col-md-4 col-sm-6 portfolio-item">
        <a href="#portfolioModal{{ post.modal - id }}" class="portfolio-link" data-toggle="modal">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="img/portfolio/{{ post.thumbnail }}" class="img-responsive img-centered" alt="" />
        </a>
        <div class="portfolio-caption">
          <h4>{{ post.title }}</h4>
          <p class="text-muted">{{ post.subtitle }}</p>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</section>
